@model GDS.Components.ViewModels.DetailsViewModel;
@{
    if (Model == null)
    {
        throw new InvalidOperationException("DetailsViewModel is null.");
    }
}
@{
    <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                @Model.Header
            </span>
        </summary>
        <div class="govuk-details__text">
            @Model.ContentHtml
        </div>
    </details>
}